@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* This is a COMMENT */

/* Select element by TYPE */
body {
    font-family: "Arsenal SC", sans-serif;
    background-color: rgb(255, 255, 0)

}

p{
    color:rgb(49, 107, 145);
}
h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    padding: 9px;
    margin: 80px;
    margin-bottom: 68px;
}

/* Select element by ID name */
#intro {
    background-color: #c4ff02;
}

/* Select element by CLASS name */
.border {
    border : 2px solid black
}

/* Properties: colors and typography */
strong {
    color:aquamarine;
    background-color: rgb(255, 218, 5);
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 100;
}

/* Box Model: margin, border, padding, content */

img {
    border-width: 16px; 
    border-style: double;
    border-color: blue;
    border-radius: 90px;
    padding:7px;  
}

.centered {
 margin:auto; 
text-align:center;
}